@font-face {
  font-family: "iconfont"; /* Project id 3941116 */
  src: url('iconfont.woff2?t=1679918725846') format('woff2'),
       url('iconfont.woff?t=1679918725846') format('woff'),
       url('iconfont.ttf?t=1679918725846') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi1:before {
  content: "\e723";
}

.icon-youjiantou:before {
  content: "\e635";
}

.icon-shouye1:before {
  content: "\e619";
}

.icon-fenxiang:before {
  content: "\e624";
}

.icon-kefu:before {
  content: "\e625";
}

.icon-wushuju:before {
  content: "\e642";
}

.icon-yundong-:before {
  content: "\ee51";
}

.icon-quanbu:before {
  content: "\e684";
}

.icon-nvyongqiju-tiaodan:before {
  content: "\e634";
}

.icon-yangtai:before {
  content: "\e626";
}

.icon-diandongziweiqi:before {
  content: "\e6c0";
}

.icon-tunbu:before {
  content: "\e999";
}

.icon-diandongfeijibei:before {
  content: "\e6be";
}

.icon-xian-neiyi:before {
  content: "\e633";
}

.icon-nanxing:before {
  content: "\e608";
}

.icon-nvxing:before {
  content: "\e60b";
}

.icon-sousuo:before {
  content: "\e7a6";
}

